@media only screen and (min-width: 992px) and (max-width: 1280px) { /* Small laptops/desktops */

}



@media only screen and (min-width: 1281px) { /* Biggest screens*/


body {
  background-color: grey;
}

.index-main-box{
  position: relative;
  width: 100%;
  height: 55vh;
}


#main-background-img-pc { /*First big background image*/
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  z-index: -1;
}



#about-us { /*The big black window with about us text */
  width: 50%;
  height: auto;
  position: absolute;
  background-color: rgba(19, 0, 209, 0.4); /* last digit let's changing the opacity of the background color */
  top: 16vh;
  border-radius: 10px;
  text-align: center;
  color: rgba(243, 243, 243, 1);
  left: 25%;
  font-family:Trebuchet MS;
  line-height: 4vw;
  font-size: 2vw;
}


.hire-a-chef-bttn {
  background-color: rgba(1, 1, 1, 0.6);
  border-radius: 5px;
  border: 1.5px solid rgba(243, 243, 243, 1);
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 0, 0.9);
  font-family:Trebuchet MS;
  font-size: 2vw;
  font-weight:bold;
  padding: 1.5vw 4vw;
  text-decoration: none;
  position: absolute;
  text-align: center;
  margin-left: 35vw;
  max-width: 20%;
  margin-top: 65vh;
}
.hire-a-chef-bttn:hover {
  background-color: rgba(1, 1, 1, 0.3); /* black */
  color: rgba(255, 255, 0, 0.9);
  border: 2px solid rgba(255, 255, 0, 0.9);
}
 &:active {
  position: absolute;
  top:1px;
}

.become-chef-bttn {
	background-color: rgba(1, 1, 1, 0.85); /*#d49800*/
	display:inline-block;
  border-radius:5px;
  border: 2px solid orange;
	cursor:pointer;
	color: orange;
	font-family:Trebuchet MS;
	font-size: 1.2vw;
	padding:1% 2.5%;
	text-decoration:none;
  position: relative;
  left: 3%;
  top: 4vh;
  /*line height*/

}
.become-chef-bttn:hover {
	background-color: rgba(1, 1, 1, 0.1);
  color: rgba(1, 1, 1, 1);
  border: 2px solid black;
}


.first-window {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 45vh;
  background-color: rgba(238, 238, 238, 1);
  z-index: -1;
  text-align: center;
}

.title-2 {
  width: 80%;
  left: 10%;
  height: 25vh;
  position: relative;
  background-color: transparent;
  text-align: center;
  line-height: 25vh;
  /*top: 10vh;*/
}

#hire-title {
  font-size: 200%;
  font-family: Trebuchet MS;

}

.p-1 {
  width: 70%;
  height: 75vh;
  position: relative;
  background-color: transparent;
  left: 15%;
}

.paragraph {
  height: 100vh;
  width: 60%;
  background-color: transparent;
  position: relative;
  text-align: center;
  background-color: transparent;
}

.paragraph h2 {
  top: 26%;
  text-align: center;
  line-height: 120%;
  position: relative;
  font-size: 150%;
  font-family: Trebuchet MS;
}

.p-pic {
  position: relative;
  width: 40%;
  height: 38vh;
  background-color: transparent;
  left: 60%;
  top: -85vh;
}

#photo2 {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid black;
}

.pic-box-wok {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: transparent
}

#wok-photo {
  width: 100%;
  height: auto;
  max-height: 40vh;
}

.second-window {
  background-color: rgba(213, 205, 255, 1);
  width: 100%;
  height: 100vh;
  position: relative;
  top: 45vh;
}

.become-title {
  width: 100%;
  height: 25vh;
  position: relative;
  background-color: transparent;
  text-align: center;
  line-height: 30vh;
}

#become-title {
  font-size: 210%;
  font-family: Trebuchet MS;
}

.p-2 {
  width: 70%;
  height: 75vh;
  position: relative;
  background-color: transparent;
  left: 15%;
}

.chefs-left {
  position: relative;
  width: 50%;
  height: 10vh;
  background-color: transparent;
}

.bartenders-right {
  position: relative;
  width: 50%;
  height: 10vh;
  background-color: transparent;
  left: 50%;
  top: -10vh;
}

#centre-fourth-left { /* Nocentrē uzrakstus chef un bartender iekš safiem boxiem */
  text-align: center;
  font-size: 200%;
  line-height: 10vh;
  text-decoration: underline;
}

#centre-fourth-right { /* Nocentrē uzrakstus chef un bartender iekš safiem boxiem */
  text-align: center;
  font-size: 200%;
  line-height: 10vh;
  text-decoration: underline;
}

.chefs-content-left {
  position: relative;
  width: 50%;
  height: 65vh;
  background-color: transparent;
  top: -10vh;
}

.bartenders-content-right {
  position: relative;
  width: 50%;
  height: 65vh;
  background-color: transparent;
  top: -75vh;
  left: 50%;
}

.lists {
  list-style-type: circle;
}

ul {
  background: transparent;
  /*padding: 20px;*/
}

.lists li  {
  background: transparent; /*Background color for lists*/
  margin: 3vw;
  font-size: 200%;
}






.footer {
  width: 100%;
  height: 35vh;
  position: relative;
  background-color: black;
  top: 45vh;
}

.uli {
  position: absolute;
  list-style-type: none;
  top: 6vh;
}

.uli li {
  line-height: 3vw;
}

#review {
  color: white;
  text-decoration: none;
  font-family:Trebuchet MS;
  font-size: 1.5vw;
  margin-left: 3vw;
  line-height: 0vh;
}

#review:hover {
  color: grey;
}

#review:active {
  color: white;
}

#who {
  color: white;
  text-decoration: none;
  font-family:Trebuchet MS;
  font-size: 1.5vw;
  margin-left: 3vw;
  line-height: 0vh;
}

#who:hover {
  color: grey;
}

#who:active {
  color: white;
}

.made-by {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 31.5vh;
  background-color: transparent;
}

#made-by {
  color: white;
  font-family:Trebuchet MS;
  font-size: 1.4vw;
}



.pic-box-wok {
  display: none;
}

}
