body {
  background-color:
}

#galvene {
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 3vw;
  line-height: 15vh;
  color: white;
}

#logo {
  width: 10vw;
  height: 14.5vh;
}

#logo-box {
  width: 10%;
  height: 15vh;
  margin-left: 0vw;
  position: absolute;
  background-color: transparent;
}

#info-par-pavaru {
  width: 100%;
  height: 20vh;
  background-color: transparent;
  font-family: Trebuchet MS;
  background-color: transparent;
  position: relative;
  margin-top: 4vh;
}

#right {
  background-color: transparent;
  width: 11vw;
  height: 11vw;
  position: absolute;
  margin-left: 54%;
  font-size: 1.4vw;
}

#isais-info {
 line-height: 7vh;
 text-align: center;
 margin-top: 3.5vh;
}

#left {
  /*width: 11%;
  /*padding-bottom:30%;
  height: 20vh;*/
  width: 11vw;
  height: 11vw;
  background-color: green;
  position: absolute;
  margin-left: 35%;
  text-align: center;
}

#chef-name {
  font-size: 1.5vw;
}

#chef-pic {
  height: auto;
  max-height: 11vw;
  width: auto;
  max-width: 11vw;
  border: 2px solid black;
}

.krasa {
  color: black;
  list-style-type: none; /* Use this instead of text-decoration:none; !!!!! */
}

#bilde {
  width: 50vw;
  height: 55vh;
  background-color: transparent;
  margin-left: 25%;
  margin-top: 6vw;
  text-align: center;
}

#img {
  width: auto;
  max-width: 100%;
  height: 55vh;
  max-height: 100vh;
  border-radius: 4px;
}

#contents {
  width: 50%;
  height: 30vh;
  margin-left: 25%;
  margin-top: 10vh;
  background-color: transparent;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1.8vw;
  line-height: 6vh;
}

.reservation {
	background-color: rgba(1, 1, 1, 0.85);
	border-radius:5px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family:Trebuchet MS;
	font-size: 2vw;
	font-weight:bold;
	padding: 1vw 3vw;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  margin-left: 38%;
}
.reservation:hover {
	background-color: rgba(1, 1, 1, 0.1);
  color: black;
  border: 1px solid black;
}
.reservation:active {
	position:relative;
	top:1px;
}

.footer {
  width: 100%;
  height: 35vh;
  position: relative;
  background-color: black;
  top: 35vh;
}

.leave-a-review {
  width: 20%;
  height: 15vh;
  position: relative;
  background-color: transparent;
  margin-left: 80%;
  text-align: center;
  line-height: 15vh;
  top: 10vh;
  font-size: 1.5vw;
}

#review {
  color: white;
  text-decoration: none;
  font-family:Trebuchet MS;
}

#review:hover {
  color: grey;
  text-decoration: none;
  font-family:Trebuchet MS;
}

#review:active {
  color: white;
  text-decoration: none;
  font-family:Trebuchet MS;
}

.made-by {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  top: 16.5vh;
  background-color: transparent;
}

#made-by {
  color: white;
  font-family:Trebuchet MS;
  font-size: 1.4vw;
}



.pic-box-wok {
  display: none;
}
